<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
  <h1 class="text-uppercase text-info">New Event</h1>

  <%= render 'form', event: @event %>

  <%= link_to 'Back', events_path %>
</div>  
